<span class="svg svg--{{shape}} {{className}}">
	<svg
		preserveAspectRatio="xMinYMin meet"
		{{#if size}}
		width="{{size}}"
		height="{{size}}"
		viewBox="0 0 {{size}} {{size}}"
		{{/if}}
		class="svg-icon" role="img" aria-labelledby="{{shape}}_title">
			<title id="{{shape}}_title">{{body}}</title>
			<use role="presentation" xlink:href="#icon-{{shape}}"></use>
	</svg>
</span>